/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #000000;
}

.link {
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
  padding: 6px;
  text-decoration: none;
}
.link:hover {
  color: #f1356d;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #eedada;
}
.navbar h1 {
  color: #f1356d;
  margin-right: auto;
  font-size: 24px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: grey;
  color: white;
}

.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
